<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="box-container">
        <div style="margin-left: auto; margin-right: auto; width: 16em" >
          <br>
          <h2 class = "page-title", style="text-align: center;">Forgot your password?</h2>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      				<%= devise_error_messages! %>
                <%= f.label :email %>
          			<%= f.email_field :email, autofocus: true %>

                <%= f.submit "Send", class: "btn btn-primary" %>
            <% end %>

            <%= render "devise/shared/links" %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>  
