<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="row">
        <% if @asian_restaurants.blank? %>
          <h3>Couldn't find a restaurant with your search criteria.</h3>
        <% else %>
          <% @asian_restaurants.each do |restaurant| %>
            <div class="span4 box-container">
              <div class="holder">
                <a class="overlay" href="#" title="property title">
                  <span class="more"></span>
                  <div class="cycle-slideshow">
                    <%= link_to image_tag(restaurant.image.url(:medium)), restaurant %>
                  </div>
                </a>
                <div class="prop-info">
                  <h3 class="prop-title"><%= link_to restaurant.name, restaurant %></h3>
                  <ul class="more-info clearfix">
                    <li class="info-label clearfix"><span class="pull-left">Phone:</span>
                      <span class="qty pull-right"><%= restaurant.phone %></span></li>
                    <li class="info-label clearfix"><span class="pull-left">Location:</span>
                      <span class="qty pull-right"><%= restaurant.city.upcase %>, <%= restaurant.state.upcase%></span></li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <!-- .span4 .box-container -->
      </div>
      <!-- .row -->
    </div>
    <!-- .span12 -->
  </div>
  <!-- .row -->
</div>

 