<div id="home-search-container">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="widget pull-right">
          <div class="row">
            <div class="span12 head-container">
              <div class="row">
                <div class="span8 hidden-phone">
                  <h2 class="head-title">Welcome to Noms</h2>
                  <p class="head-message"><strong>Best place for restaurant reviews.</strong><br />
                  Never eat at a bad restaurant again!</p>
                  <%= link_to "Add a Restaurant", new_restaurant_path, class: "btn btn-large btn-realto span3 header-cta"%>
                </div>
                <div class="span4" style="padding-bottom: 60px;">
                  <div class="search-form">
                    <p>Find a Great Restaurant</p>
                    <%= form_tag search_restaurants_path, method: :get do |f| %>
                      <p>Keywords</p>
                      <%= text_field_tag :search, nil, placeholder: "Steaks, Burgers, Hot Dogs, etc." %>
                      <p>Location</p>
                      <%= text_field_tag :location, nil, placeholder: "Berkeley, Miami, etc." %>
                      <p>Category</p>
                      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
                      <%= submit_tag 'Search', class: "btn span2 btn-realto-form btn-large" %>
                    <%end%>
                  </div>
                  <!-- .search-form -->   
                </div>
                <!-- .span4 -->
              </div>
            </div>        
          </div>
          <!-- .row -->
        </div>
        <!-- .search-holder -->
      </div>
      <!-- .span12 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<div id="latest-properties">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="secion-title">Most Recent Restaurants</h2>
      </div>
    </div>
    
    <!-- Begin Carousel -->
    <div class="row">
      <div id="realto-carousel" class="carousel slide span12">
        <div class="carousel-navigation pull-right">
          <%= link_to "View all", search_restaurants_path, class: "serif italic pull-left view-all-carousel"%>
        </div>
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <% @restaurants.last(3).each do |restaurant| %>
                <li class="span4 box-container">
                  <div class="holder">
                    <a class="overlay" title="property title" href="#">
                      <span class="more"></span>
                      <div class="cycle-slideshow">
                        <%= link_to image_tag(restaurant.image.url(:medium)), restaurant %>
                      </div>
                    </a>
                    <span class="prop-tag">For Sale</span>
                    <div class="prop-info">
                      <h3 class="prop-title"><%= link_to restaurant.name, restaurant%></h3>
                      <ul class="more-info clearfix">
                        <li class="info-label clearfix"><span class="pull-left">Location:</span> <span class="qty pull-right"><%= restaurant.city %>, <%= restaurant.state%></span></li>
                        <li class="info-label clearfix"><span class="pull-left">Category:</span> <span class="qty pull-right"><%= restaurant.category.name %></span></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <% end %>
            </ul>
          </div><!-- .item -->
             
        </div><!-- .carousel-inner -->
      </div>
    </div><!--End Carousel-->
    
  </div><!-- .container  -->
</div><!-- #latest-properties  -->


<!-- #latest-properties  -->
<div class="container">
  <div class="row">
    <div class="home-bottom-top">
      <div class="span4">
        <div class="info-box">
          <h2 class="secion-title">Why choose us?</h2>
          <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
            magna aliqua adipisicing elit seddo eiusmod tempor.</p>
          <p>Sed perspiciatis unde omnisiste natus error voluptatem remopa
            accusantium doloremque laudantium, totam rem aperiam.</p>
          <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
        </div>
      </div>
      <!-- .span4 -->
      <div class="span4">
        <div class="info-box">
          <h3 class="info-head">Designed for your business</h3>
          <div class="row clearfix">
            <div class="pull-left icons hidden-phone">
              <i class="icon-briefcase"></i>
            </div>
            <div class="span3">
              <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
                magna aliqua adipisicing elit seddo eiusmod tempor.</p>
              <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
            </div>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .info-box -->
        <div class="info-box">
          <h3 class="info-head">Ample Customizations</h3>
          <div class="row clearfix">
            <div class="pull-left icons hidden-phone">
              <i class="icon-cogs"></i>
            </div>
            <div class="span3">
              <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
                magna aliqua adipisicing elit seddo eiusmod tempor.</p>
              <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
            </div>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .info-box -->
      </div>
      <!-- .span4 -->
      <div class="span4">
        <div class="info-box">
          <h3 class="info-head">Fully Responsive</h3>
          <div class="row clearfix">
            <div class="pull-left icons hidden-phone">
              <i class="icon-move"></i>
            </div>
            <div class="span3">
              <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
                magna aliqua adipisicing elit seddo eiusmod tempor.</p>
              <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
            </div>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .info-box -->
        <div class="info-box">
          <h3 class="info-head">Bootstrap Compatible</h3>
          <div class="row clearfix">
            <div class="pull-left icons hidden-phone">
              <i class="icon-thumbs-up"></i>
            </div>
            <div class="span3">
              <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
                magna aliqua adipisicing elit seddo eiusmod tempor.</p>
              <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
            </div>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .info-box -->
      </div>
      <!-- .span4 -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12 box-container">
      <div class="row adv-message clearfix">
        <div class="pull-left span7">
          <p class="upper-line serif italic">Realto xHTML/CSS Template is The
            Best Solution To Sell House Online</p>
          <p class="lower-line">This template is appropriate for Real Estate
            Company, who need to do their business online via websites.</p>
        </div>
        <!-- .pull-left -->
        <a class="pull-right btn btn-large btn-realto span3" href="#" title="Buy It Now">Buy
          It Now!</a>
      </div>
      <!-- .adv-message  -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span8">
      <h2 class="secion-title">Meet our agents</h2>
      <div class="row">
        <div class="span2">
          <div class="home-agents widget">
            <a class="overlay" href="#" title="agent name">
              <span class="more"></span>
              <img alt="image" class="media-object" src="images/agent-01.jpg" />
            </a>
            <p class="home-agent-name">John Doe</p>
            <a class="serif italic" href="#" title="View profile page">View profile
              page &raquo;</a>
          </div>
          <!-- .home-agents -->
        </div>
        <div class="span2">
          <div class="home-agents widget">
            <a class="overlay" href="#" title="agent name">
              <span class="more"></span>
              <img alt="image" class="media-object" src="images/agent-02.jpg" />
            </a>
            <p class="home-agent-name">Susan Underwood</p>
            <a class="serif italic" href="#" title="View profile page">View profile
              page &raquo;</a>
          </div>
          <!-- .home-agents -->
        </div>
        <div class="span2">
          <div class="home-agents widget">
            <a class="overlay" href="#" title="agent name">
              <span class="more"></span>
              <img alt="image" class="media-object" src="images/agent-06.jpg" />
            </a>
            <p class="home-agent-name">Erik Peterson</p>
            <a class="serif italic" href="#" title="View profile page">View profile
              page &raquo;</a>
          </div>
          <!-- .home-agents -->
        </div>
        <div class="span2">
          <div class="home-agents widget">
            <a class="overlay" href="#" title="agent name">
              <span class="more"></span>
              <img alt="image" class="media-object" src="images/agent-07.jpg" />
            </a>
            <p class="home-agent-name">Lu Jackson</p>
            <a class="serif italic" href="#" title="View profile page">View profile
              page &raquo;</a>
          </div>
          <!-- .home-agents -->
        </div>
      </div>
    </div>
    <!-- .span8  -->
    <div class="span4">
      <div class="home-blog-articles widget">
        <h2 class="secion-title">Articles from the Blog</h2>
        <ul>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Lorem ipsum dolor sit amet, consectetur
              adipiscing</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Duis suscipit venenatis pellentesque tempor
              libero</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Etiam aliquet aliquam metus in tristique</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Cras venenatis pellentesque venenatis
              pellentesque</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Vivamus vitae venenatis pellentesque nunc sed
              nisl</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">In tempus venenatis pellentesquetempor</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Suspendisse vulputate venenatis pellentesque
              quis</a></li>
        </ul>
      </div>
    </div>
    <!-- .span4  -->
  </div>
</div>