<div id="home-search-container">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="widget pull-right">
          <div class="row">
            <div class="span12 head-container">
              <div class="row">
                <div class="span8 hidden-phone">
                  <h2 class="head-title">Welcome to Noms</h2>
                  <p class="head-message"><strong>Best place for restaurant reviews.</strong><br />
                  Never eat at a bad restaurant again!</p>
                  <%= link_to "Add a Restaurant", new_restaurant_path, class: "btn btn-large btn-realto span3 header-cta"%>
                </div>
                <div class="span4" style="padding-bottom: 60px;">
                  <div class="search-form">
                    <p>Find a Great Restaurant</p>
                    <%= form_tag search_restaurants_path, method: :get do |f| %>
                      <p>Keywords</p>
                      <%= text_field_tag :search, nil, placeholder: "Steaks, Burgers, Hot Dogs, etc." %>
                      <p>Location</p>
                      <%= text_field_tag :location, nil, placeholder: "Berkeley, Miami, etc." %>
                      <p>Category</p>
                      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
                      <%= submit_tag 'Search', class: "btn span2 btn-realto-form btn-large" %>
                    <%end%>
                  </div>
                  <!-- .search-form -->   
                </div>
                <!-- .span4 -->
              </div>
            </div>        
          </div>
          <!-- .row -->
        </div>
        <!-- .search-holder -->
      </div>
      <!-- .span12 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<div id="latest-properties">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="secion-title">Most Recent Restaurants</h2>
      </div>
    </div>
    
    <!-- Begin Carousel -->
    <div class="row">
      <div id="realto-carousel" class="carousel slide span12">
        <div class="carousel-navigation pull-right">
          <%= link_to "View all", search_restaurants_path, class: "serif italic pull-left view-all-carousel"%>
        </div>
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <% @restaurants.last(3).each do |restaurant| %>
                <li class="span4 box-container">
                  <div class="holder">
                    <a class="overlay" title="property title" href="#">
                      <span class="more"></span>
                      <div class="cycle-slideshow">
                        <%= link_to image_tag(restaurant.image.url(:medium)), restaurant %>
                      </div>
                    </a>
                    <% if restaurant.reviews.present? %>
                      <span class="qty pull-right star-rating">Rating: <%= restaurant.reviews.average(:rating).round(2) %></span>
                    <% else %>
                      <span class="prop-tag">No Reviews Yet!</span>
                    <% end %>
                    <div class="prop-info">
                      <h3 class="prop-title"><%= link_to restaurant.name, restaurant%></h3>
                      <ul class="more-info clearfix">
                        <li class="info-label clearfix"><span class="pull-left">Location:</span> <span class="qty pull-right"><%= restaurant.city %>, <%= restaurant.state%></span></li>
                        <li class="info-label clearfix"><span class="pull-left">Category:</span> <span class="qty pull-right"><%= restaurant.category.name %></span></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <% end %>
            </ul>
          </div><!-- .item -->
             
        </div><!-- .carousel-inner -->
      </div>
    </div><!--End Carousel-->
    
  </div><!-- .container  -->
</div><!-- #latest-properties  -->


<!-- #latest-properties  -->
<div class="container">
  <div class="row">
    <div class="home-bottom-top">
      <div class="span4">
        <div class="info-box">
          <h2 class="secion-title">Italian</h2>
          <% @italian_restaurants.limit(5).each do |restaurant| %>
            <ul class="more-info clearfix">
              <li class="info-label clearfix"><%= link_to restaurant.name, restaurant %>
                <% if restaurant.reviews.present? %>
                  <span class="qty pull-right star-rating">Rating: <%= restaurant.reviews.average(:rating).round(2) %></span>
                <% else %>
                  <span class="qty pull-right">No reviews yet!</span>
                <% end %>
              </li>
            </ul>
          <% end %>
          <%= link_to "Continue &raquo".html_safe, italian_path %>
        </div>
      </div>
      <div class="span4">
        <div class="info-box">
          <h2 class="secion-title">Asian</h2>
          <% @asian_restaurants.limit(5).each do |restaurant| %>
            <ul class="more-info clearfix">
              <li class="info-label clearfix"><%= link_to restaurant.name, restaurant %>
                <% if restaurant.reviews.present? %>
                  <span class="qty pull-right star-rating">Rating: <%= restaurant.reviews.average(:rating).round(2) %></span>
                <% else %>
                  <span class="qty pull-right">No reviews yet!</span>
                <% end %>
              </li>
            </ul>
          <% end %>
          <%= link_to "Continue &raquo".html_safe, asian_path %>
        </div>
      </div>
      <div class="span4">
        <div class="info-box">
          <h2 class="secion-title">American</h2>
          <% @american_restaurants.limit(5).each do |restaurant| %>
            <ul class="more-info clearfix">
              <li class="info-label clearfix"><%= link_to restaurant.name, restaurant %>
                <% if restaurant.reviews.present? %>
                  <span class="qty pull-right star-rating">Rating: <%= restaurant.reviews.average(:rating).round(2) %></span>
                <% else %>
                  <span class="qty pull-right">No reviews yet!</span>
                <% end %>
              </li>
            </ul>
          <% end %>
          <%= link_to "Continue &raquo".html_safe, american_path %>
        </div>
      </div>
    </div>
  </div>
</div>
