<div class="container page-content">
  <div class="row">
    <div class="span8">
      <div class="box-container">
        <div class="cycle-slideshow">
        
          <%= image_tag(@restaurant.image.url(:large)) %>
          
        </div><!-- .cycle-slideshow -->
        <div id="adv-custom-pager"></div>
        <div class="clearfix">
          <div class="clearfix padding30">
            <h2 class="prop-title pull-left margin0"><%= @restaurant.name %>
              <% if current_user.try(:admin?) %>
                <small><%= link_to "Edit", edit_restaurant_path, class: "btn btn-primary btn-mini" %></small>
              <% else %>
              <% end %>
            </h2>
            <span class="prop-price pull-right serif italic">Rating: <%= @avg_rating %></span>
          </div>
          <div class="clearfix padding030 row-fluid">
            <ul class="more-info pull-left span6">
              <li class="info-label clearfix"><span class="pull-left">Category:</span>
                <span class="qty pull-right"><%= @restaurant.category.name %></span></li>
              <li class="info-label clearfix"><span class="pull-left">Website:</span>
                <span class="qty pull-right">2</span></li>
              <li class="info-label clearfix"><span class="pull-left">Description:</span>
                <span class="qty pull-right"><%= @restaurant.description %></span></li>
            </ul>
            <ul class="more-info pull-right span6">
              <li class="info-label clearfix"><span class="pull-left">Phone:</span>
                <span class="qty pull-right"><%= @restaurant.phone %></span></li>
              <li class="info-label clearfix"><span class="pull-left">Email:</span>
                <span class="qty pull-right"><%= @restaurant.email %></span></li>
              <li class="info-label clearfix"><span class="pull-left">Address:</span>
                <span class="qty pull-right">
                  <div align="right"><%= @restaurant.address1 %></div>
                  <div align="right"><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zipcode %></div>
                </span>
              </li>
            </ul>
          </div>
          <div class="clearfix padding30">
            <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-small btn-realto"%>
            <h3>Reviews</h3>
            <% if @reviews.blank?%>
              <p>No Reviews Yet</p>
            <%else%>
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-mid-3"></th>
                    <th class="col-mid-9"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @reviews.each do |review| %>
                  <tr>
                    <td>
                      <h5><%= "#{review.user.first_name} #{review.user.last_name}" %></h5>
                    </td>
                    <td>
                      <div class="clearfix star-rating"><%= review.rating %> stars</div>
                      <%= review.comment %>
                    </td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- .span8 -->
    <div class="span4">
      <div class="widget map box-container padding30">
        <h3 class="widget-title">Map &amp; Directions</h3>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@restaurant.latitude}%2C#{@restaurant.longitude}&zoom=15&size=400x400&maptype=roadmap&markers=color:red%7C%7C#{@restaurant.latitude}%2C#{@restaurant.longitude}&key=AIzaSyCCkGQKWYTW0Qu3KWkDlfFqaymXYzX9nqw" %>
      </div>
      <div class="agent-box widget box-container clearfix padding30">
        <div class="">
          <div class="pull-left">
            <img alt="image" class="media-object agent-avatar" src="images/agent-01.jpg" />
          </div>
          <div class="pull-left">
            <h3>Contact Agent</h3>
            <ul>
              <li>John Doe</li>
              <li><a href="#">john.doe@realto.com</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- .agent-box -->
      <div class="search-form widget">
        <p>Find your new home</p>
        <form action="#" class="row-fluid" method="post" />
          <select class="span12 select" name="type">
            <option />Location
            <option value="#" />New York
            <option value="#" />Los Angeles
            <option value="#" />Washington
            <option value="#" />Chicago
            <option value="#" />Miami
          </select>
          <select class="span12 select" name="type">
            <option />Property Type
            <option value="#" />Any
            <option value="#" />Single Family Home
            <option value="#" />Condo
            <option value="#" />Apartment
            <option value="#" />Loft
          </select>
          <select class="span6 select pull-left" name="beds">
            <option />Beds
            <option value="#" />1+ Beds
            <option value="#" />2+ Beds
            <option value="#" />3+ Beds
            <option value="#" />4+ Beds
            <option value="#" />5+ Beds
          </select>
          <select class="span6 select pull-right" name="baths">
            <option />Baths
            <option value="#" />1+ Baths
            <option value="#" />2+ Baths
            <option value="#" />3+ Baths
            <option value="#" />4+ Baths
            <option value="#" />5+ Baths
          </select>
          <select class="span12 select clearfix" name="status">
            <option />Select Status
            <option value="#" />For Rent
            <option value="#" />For Sale
          </select>
          <select class="span6 select pull-left" name="price-from">
            <option />Price from
            <option value="#" />from $100.000
            <option value="#" />from $200.000
            <option value="#" />from $300.000
            <option value="#" />from $400.000
            <option value="#" />from $500.000
          </select>
          <select class="span6 select pull-right" name="price-to">
            <option />Price to
            <option value="#" />to $100.000
            <option value="#" />to $200.000
            <option value="#" />to $300.000
            <option value="#" />to $400.000
            <option value="#" />to $500.000
          </select>
          <div class="clearfix">
            <button class="btn pull-right span6 btn-realto-form btn-large" type="submit">Search</button>
          </div>
        </form>
      </div>
      <!-- .search-form -->
    </div>
    <!-- .span4 -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->
<div class="container">
  <div class="row">
    <div class="span12 box-container">
      <div class="row adv-message clearfix">
        <div class="pull-left span7">
          <p class="upper-line serif italic">Realto xHTML/CSS Template is The
            Best Solution To Sell House Online</p>
          <p class="lower-line">This template is appropriate for Real Estate
            Company, who need to do their business online via websites.</p>
        </div>
        <!-- .pull-left -->
        <a class="pull-right btn btn-large btn-realto span3" href="#" title="Buy It Now">Buy
          It Now!</a>
      </div>
      <!-- .adv-message  -->
    </div>
  </div>
</div>
 