<div class="container page-content">
  <div class="row">
    <div class="span8">
      <div class="box-container">
        <div class="cycle-slideshow">
        
          <%= image_tag(@restaurant.image.url(:large)) %>
          
        </div><!-- .cycle-slideshow -->
        <div id="adv-custom-pager"></div>
        <div class="clearfix">
          <div class="clearfix padding30">
            <h2 class="prop-title pull-left margin0"><%= @restaurant.name %>
              <% if current_user.try(:admin?) %>
                <small><%= link_to "Edit", edit_restaurant_path, class: "btn btn-primary btn-mini" %></small>
              <% else %>
              <% end %>
            </h2>
            <span class="prop-price pull-right serif italic">Rating: <%= @avg_rating %></span>
          </div>
          <div class="clearfix padding030 row-fluid">
            <ul class="more-info pull-left span6">
              <li class="info-label clearfix"><span class="pull-left">Category:</span>
                <span class="qty pull-right"><%= @restaurant.category.name %></span></li>
              <li class="info-label clearfix"><span class="pull-left">Description:</span>
                <span class="qty pull-right"><%= @restaurant.description %></span></li>
            </ul>
            <ul class="more-info pull-right span6">
              <li class="info-label clearfix"><span class="pull-left">Phone:</span>
                <span class="qty pull-right"><%= @restaurant.phone %></span></li>
              <li class="info-label clearfix"><span class="pull-left">Email:</span>
                <span class="qty pull-right"><%= @restaurant.email %></span></li>
              <li class="info-label clearfix"><span class="pull-left">Address:</span>
                <span class="qty pull-right">
                  <div align="right"><%= @restaurant.address1 %></div>
                  <div align="right"><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zipcode %></div>
                </span>
              </li>
            </ul>
          </div>
          <div class="clearfix padding30">
            <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-small btn-realto"%>
            <h3>Reviews</h3>
            <% if @reviews.blank?%>
              <p>No Reviews Yet</p>
            <%else%>
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-mid-3"></th>
                    <th class="col-mid-9"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @reviews.each do |review| %>
                  <tr>
                    <td>
                      <h5><%= "#{review.user.first_name} #{review.user.last_name}" %></h5>
                    </td>
                    <td>
                      <div class="clearfix star-rating"><%= review.rating %> stars</div>
                      <%= review.comment %>
                    </td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- .span8 -->
    <div class="span4">
      <div class="widget map box-container padding30">
        <h3 class="widget-title">Map &amp; Directions</h3>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@restaurant.latitude}%2C#{@restaurant.longitude}&zoom=15&size=400x400&maptype=roadmap&markers=color:red%7C%7C#{@restaurant.latitude}%2C#{@restaurant.longitude}&key=AIzaSyCCkGQKWYTW0Qu3KWkDlfFqaymXYzX9nqw" %>
      </div>
      
      <div class="search-form widget">
        <p>Find a Great Restaurant</p>
        <%= form_tag search_restaurants_path, method: :get do |f| %>
          <p>Keywords</p>
          <%= text_field_tag :search, nil, placeholder: "Steaks, Burgers, Hot Dogs, etc." %>
          <p>Location</p>
          <%= text_field_tag :location, nil, placeholder: "Berkeley, Miami, etc." %>
          <p>Category</p>
          <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
          <%= submit_tag 'Search', class: "btn span2 btn-realto-form btn-large" %>
        <%end%>       
      </div>
      <!-- .search-form -->
    </div>
    <!-- .span4 -->
  </div>
  <!-- .row -->
</div>
 