<!-- begin header -->
<header>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <%= link_to root_path do %>
                <i class="icon-home"></i>
              <%end%>
            </li>
            <li><%= link_to "About Us", about_us_path%></li>
            <li><%= link_to "Contact Us", contact_us_path%></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div id="logo-container">
    <div class="container">
      <div class="row">
        <div class="span8">
          <span class="logo-text">
            <%= link_to "NOMS", root_path, class: "brand" %>
          </span>
          <span class="tag-line hidden-phone">Find Noms: Anytime & Anywhere</span>
        </div>
        <div class="span4">
          <ul class="inline pull-right ">
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-primary', method: :delete) %>
              &nbsp&nbsp&nbsp
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>
              &nbsp&nbsp&nbsp
              <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- #logo-container -->
</header>  
<!-- end header -->